XsdXmlValidate/Xsd/input.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EmployeeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FirstName" type="xs:string" />
        <xs:element name="MiddleName" type="xs:string" />
        <xs:element name="LastName" type="xs:string" />
        <xs:element name="EmailId" type="xs:string" />
        <xs:element name="Mobile" type="xs:integer" />
        <xs:element name="Address" type="xs:string" />
        <xs:element name="Car" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>